* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.wrapper::after {
  content: "";
  position: absolute;
  width: 255px;
  height: 240px;
  top: 176px;
  right: -110px;
  background-image: url("../images/shared/pattern-square.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -5;
}

@media (max-width: 1250px) {
  .wrapper::after {
    display: none;
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.header-logo {
  width: 40px;
  height: 40px;
}
.header-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.header-button {
  width: 170px;
  height: 56px;
  background-color: #E8EFF2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: #162542;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
.header-button:hover {
  background-color: #162542;
  color: #FFFFFF;
}
.header-button:focus {
  border: 2px solid #162542;
}

@media (max-width: 424.98px) {
  .header {
    padding-top: 24px;
  }
  .header-button {
    width: 154px;
    height: 48px;
  }
}
.hero {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  padding-top: 83px;
  padding-bottom: 83px;
  flex: 0 1 40%;
  min-height: 313px;
  display: flex;
  flex-direction: column;
}

.content-hero_title {
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #162542;
  font-weight: 700;
}

.content-hero_text {
  margin-top: 24px;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;
  color: #5D6D8F;
  font-weight: 500;
}

.content-hero_buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  max-width: 337px;
  gap: 40px;
}

.pre-order_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 56px;
  border-radius: 10px;
  background-color: #F16718;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.pre-order_button:hover {
  opacity: 0.7;
}

.release-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: #5D6D8F;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-image {
  flex: 0 1 48%;
  height: 480px;
  border-radius: 15px;
  overflow: hidden;
}
.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@media (max-width: 767.98px) {
  .hero {
    margin-top: 48px;
    position: relative;
  }
  .hero-content {
    padding-top: 56px;
    padding-bottom: 56px;
    flex: 0 1 46%;
  }
  .hero-image {
    flex: none;
    width: 470px;
    position: absolute;
    right: -163px;
    top: 65px;
    min-height: 425px;
  }
}
@media (max-width: 650px) {
  .hero-content {
    display: flex;
    flex-direction: column;
    flex: none;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .content-hero_title {
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .hero-image {
    flex: none;
    width: 470px;
    position: absolute;
    right: 0;
    left: 15px;
    top: 330px;
    min-height: 425px;
  }
  .content-hero_text {
    margin-top: 24px;
  }
  .content-hero_buttons {
    margin-top: 32px;
  }
}
.mechanical {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 125px;
}

.mechanical-images {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 730px;
}

.mechanical-short_image {
  width: 255px;
  min-height: 480px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.mechanical-short_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.mechanical-short_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F16718;
  opacity: 0.8;
}

.mechanical-long_image {
  width: 445px;
  min-height: 480px;
  border-radius: 15px;
  overflow: hidden;
}
.mechanical-long_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.mechanical-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 255px;
}

.content-machanical_title {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  color: #162542;
  font-weight: 700;
  text-transform: uppercase;
}

.content-machanical_text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: #5D6D8F;
}

@media (max-width: 1070px) {
  .mechanical {
    flex-direction: column;
    gap: 40px;
  }
  .mechanical-images {
    max-width: 1050px;
    justify-content: space-between;
  }
  .mechanical-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 730px;
  }
}
@media (max-width: 767.98px) {
  .mechanical-images {
    max-width: 670px;
    gap: 10px;
    justify-content: space-between;
  }
  .mechanical-short_image {
    max-width: 214px;
  }
  .mechanical-long_image {
    max-width: 445px;
  }
  .mechanical-content {
    max-width: 670px;
  }
}
@media (max-width: 650px) {
  .mechanical {
    margin-top: 460px;
  }
  .mechanical-images {
    width: 100%;
    gap: 30px;
  }
  .mechanical-short_image {
    width: 214px;
    flex-shrink: 0;
  }
  .mechanical-long_image {
    flex: 1;
    min-width: 0;
  }
  .mechanical-short_image,
  .mechanical-long_image {
    height: 320px;
  }
  .mechanical-short_image img,
  .mechanical-long_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .mechanical-content {
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 424.98px) {
  .mechanical-short_image,
  .mechanical-long_image {
    height: 320px;
  }
  .mechanical-content {
    position: relative;
  }
  .mechanical-short_image {
    position: absolute;
    top: 0;
    left: -100px;
    top: 894px;
  }
  .mechanical-images {
    justify-content: flex-end;
  }
  .mechanical-long_image {
    max-width: 220px;
  }
}

/*# sourceMappingURL=style.css.map */
